@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --main: #e3e3e3;
    /* --text: #333; */
    --temp: 65;
    --text: var(--temp), var(--temp), var(--temp);
    --halftext: #aaa;
    font-family: 'Share Tech Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(var(--text))
}

.container__app {
    /* background: #ff0000; */
    position: relative;
}

.app {
    position: relative;
    width: 100%;
}

.container__panels {
    position: relative;
    display: flex;
    background: var(--main);
}

.progress__bar {
    height: 5px;
    width: 100%;
    background: #000;
}

.progress__bar__percentage {
    background: green;
    width: 0%;
    height: 100%;
}

.left__panel {
    position: relative;
    margin: 10px 0 0 0;
    background: var(--main);
    height: 100vh;
    width: 35%;
    text-align: center;
}

.cover {
    margin-top: 10%;
}

.cover__image {
    width: 50%;
    height: auto;
    border-radius: 0.5rem;
}

.title__player {
    margin-top: 2rem;
    font-size: 2em
}

.songs__counter {
    margin-top: 1rem;
}

.play__button {
    display: inline;
    margin-top: 1rem;
    border: 0px;
    background-color: rgba(0,0,0,0);
    font-size: larger;
    font-family: 'Share Tech Mono', monospace;
}

.play__button:hover {
    cursor: pointer;
}

.right__panel {
    position: relative;
    background: var(--main);
    height: 100vh;
    width: 65%;
    margin: 10px 0 0 0;
}

.play__module {
    /* height: 10rem; */
    width: 100%;
    background: var(--main);
    /* padding-top: 1px;
    padding-bottom: 1px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border-bottom: 1px dashed var(--halftext);
}

.play__module__content {
    margin: 0.5rem;
    height: 3rem;
    background: var(--main);
    display: flex;
    width: 100%;
}

.play__button__right {
    margin: 0 1em 0 0;
    position: relative;
    width: 5%;
    background: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px dashed var(--halftext); */
}

.play__button__right:hover {
    background-color: white;
    cursor: pointer    
}

.title__area {
    position: relative;
    width: 80%;
    background: var(--main);
    display: flex;
    align-items: center;
}

.title__content {}


.title__album {
    /* font-size: 1rem; */
}

.title__song {
    font-size: 0.9rem;
    color: rgba(var(--text), 0.6);
    /* color: red */
}

.song__duration {
    width: 20%;
    font-size: 0.9rem;
    color: rgba(var(--text), 0.6);
    background: var(--main);
    display: flex;
    justify-content: right;
    align-items: center;
}

a {
    text-decoration: none;
}

.playmodulemouseoverbackground {background: #f00;}

@media (max-width:600px)
{
    /* * {background: red;} */

.cover__image {display: none;}

.container__panels {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* background: var(--main); */
}

.left__panel {
    height: auto;
    width: 100%;
    margin-top: 2vh;
}
.cover {
margin: 0;    
}
.right__panel {width: 100%}

.play__button {display: none;}

.play__button__right {font-size: xx-large; padding-left: 7vw;}

.title__player {
    
}

/* MEDIA CURLY BRACE!! */

}



